.button {
	&__transparent {
		font-size: 14px;
		line-height: 17px;
		text-align: center;
		padding: 7px 19px;
		background-color: initial;
		border: 1px solid $color-white;
		border-radius: 14px;
		color: $color-white;
	}
}