@mixin default-black {
	line-height: 17px;
	font-size: 14px;
	font-weight: $font-weight__medium;
	color: $color-black;
}

@mixin default-white {
	@include default-black();
	color: $color-white;
}

@mixin default-black-semibold {
	@include default-black();
	font-weight: $font-weight__medium;
}

@mixin default-black-small {
	line-height: 12px;
	font-size: 10px;
	font-weight: $font-weight__regular;
	color: $color-black;
}

@mixin font-title {
	line-height: 22px;
	font-size: 18px;
	font-weight: $font-weight__bold;
	color: $color-black;
}