html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    @include default-black();
    font-family: $font-family__primary;
}

h1,
h2,
h3 {
    color: $color-white;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-weight: $font-weight__bold;
    line-height: 29px;
}

h2 {
    font-size: 18px;
    font-weight: $font-weight__bold;
    line-height: 21px;
}


input,
select,
button {
    font-family: $font-family__primary;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.4px;
}

input {
    font-weight: $font-weight__medium;
    color: $color-black;

    &[type='text'] {
        border-radius: 23px;
        width: 100%;
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }

    &::placeholder {
        color: rgba($color-black, 0.6);
    }
}

small {
    font-size: 10px;
}

p {
    margin: 0;
    letter-spacing: 1.2px;
}

button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

a {
    text-decoration: none;
}