$color-green: 			#33907C;
$color-white: 			#FFFFFF;



$font-family__primary: 		'Montserrat', sans-serif;
$font-family__icons: 		'icons';

$font-weight__regular:		  400;
$font-weight__medium: 		  500;
$font-weight__semi-bold:	  600;
$font-weight__bold:	 			  700;

$app-max-width:							480px;