$color-green: 			#33907C;
$color-white: 			#FFFFFF;
$color-black:				#4F4F4F;
$color-gray-light:	#f4f7fe;



$font-family__primary: 		'Montserrat', sans-serif;
$font-family__icons: 		'icons';

$font-weight__regular:		  400;
$font-weight__medium: 		  500;
$font-weight__semibold:	  	600;
$font-weight__bold:	 			  700;

$app-max-width:							480px;